/* Iphone 8 */


@media screen and (max-device-width: 673px)
{
    .inside-elements-left {
        display: inherit;
        margin: none;
    }

    .inside-elements-right {
        display: block;
    }

    .img-annonces {
        height: 319px;
        width: 831px;
    }

    .box-contenu-populaire {
        max-width: 330px;
    }

    .nom-hebergement {
        font-size: 35px;
    }

    .prix-hebergement, .rating-annonces, .rating-populaire {
        font-size: 25px;
    }

    .title-right-box li {
        font-size: 50px;
    }

    .img-populaire {
        height: 259px;
        width: 399px;
    }

    #photo1, #photo2, .img-activites {
        width: 861px;
        height: 314px;
    }

    .nom-lieux {
        font-size: 35px;
        text-align: start;
    }

    .box-activites2, .box-activites3, .box-activites5, .box-activites6 {
        height: auto;
        margin-bottom: 24px;
        margin: none;
    }

    .box-activites2-3, .box-activites5-6 {
        display: block;
    }

    .box-activites1, .box-activites4, .box-activites2, .box-activites3, .box-activites5, .box-activites6 {
        /* border: 1px solid black; */
        margin: 10px;
        display: inline-block;
        border-radius: 15px;
        box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.164);
        background-color: rgb(255, 255, 255);
    }

    .titre-a-propos, .titre-nos-hebergements, .titre-assistance {
        font-size: 20px;
    }

    li, a {
        font-size: 18px;
    }

    .links li a {
        font-size: 30px;
    }

    .navbar {
        display: block;
    }

    .logo {
        text-align: center;
    }

    .navbar ul.links {
        text-align: center;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        margin: 25px;
    }

    .menu-haut {
        margin-top: 142px;
    }

    .liste-search li, .liste-filtres, .liste-filtres li, .infos li {
        font-size: 27px;
    }

    .liste-search li {
        padding: 22px;
    }

    .liste-search .search i {
        display: initial;
    }

    .search p{
        display: none;
    }

    .liste-search {
        display: contents;
    }

    .icon-infos {
        border-radius: 27px;
        height: 20px;
        width: 17px;
        text-align: center;
    }

    .links li a:hover {
        color: rgb(45, 129, 255);
        border-top: none;
        border-bottom: 1px solid rgb(45, 129, 255);
    } 

    div.recherche {
        display: flex;
        justify-content: center;
    }

    .box-description {
        text-align: none;
    }

    .box-activites, .center-box {
        text-align: initial;
    }

    .footer {
        text-align: initial;
        margin: 15px;
    }
}