@media screen and (min-width: 1891px) 
{
    .inside-elements-right {
        display: inline-block;
        margin: 15px;
        margin-bottom: 30px;
        padding: 20px;
        box-shadow: 0px 30px 40px rgb(0 0 0 / 1%);
        border-radius: 15px;
        background-color: #b3b3b334; 
        float: right;
    }
}

/* Footer */

@media screen and (min-width: 2050px)
{
    .annonces {
        gap: 10px 7em;
    }

    .inside-elements-left {
        padding-left: 1,5%;
        padding-right: 1,5%;
    }

    .inside-elements-right {
        padding-left: 1,5%;
        padding-right: 1,5%;

    }
}

@media screen and (min-width: 2310px)
{

    .inside-elements-left {
        padding-left: 5%;
        padding-right: 5%;
    }

    .inside-elements-right {
        padding-left: 3%;
        padding-right: 3%;

    }
}

@media screen and (max-width: 1890px)
{
    .inside-elements-right {
        float: none;
        display: block;
    }

    .box-activites, .center-box {
        text-align: center;
    }
}

@media screen and (max-width: 1955px)
{
    .annonces {
        gap: 10px 2em;
    }
}

@media screen and (max-width: 1345px)
{

    .inside-elements-left {
        float: none;
    }

    .annonces {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1066px)
{
    .inside-elements-right {
        float: none;
    }
}

@media screen and (max-width: 1939px) 
{
    .a-propos, .nos-hebergements, .assistance {
        margin-right: 16%;
    }
}

@media screen and (max-width: 1829px)
{
    .a-propos, .nos-hebergements, .assistance {
        margin-right: 14%;
    }
}

@media screen and (max-width: 1619px)
{
    .a-propos, .nos-hebergements, .assistance {
        margin-right: 10%;
    }
}

@media screen and (max-width: 1297px)
{
    .a-propos, .nos-hebergements, .assistance {
        margin-right: 4%;
    }
}

@media screen and (max-width: 1221px)
{
    .a-propos, .nos-hebergements, .assistance {
        margin-right: inherit;
        display: initial;
    }

    .footer {
        text-align: center;
    }
}

@media screen and (max-width: 980px)
{
    .annonces {
        grid-template-columns: none;
    }
}